body {
	font-family: "Courier New", Courier, monospace;
	font-size: 10pt;
	margin: 0px;
	background-color: #ccc;
}

#waiting {
	display: none;
}

.visible#waiting {
	display: block;
}

.visible#waiting .background {
	z-index: 10002;
	position: fixed;
	top: 0px;
	width: 100%;
	left: 0px;
	height: 100%;
	background-color: black;
	opacity: 0.8;
}

.visible#waiting .dialog {
	z-index: 10003;
	position: fixed;
	top: 50%;
	width: 400px;
	left: 50%;
	height: 100px;
	margin-left: -202px;
	margin-top: -52px;
	background-color: #ddd;
	border: 2px solid #aaa;
	text-align: center;
	line-height: 100px;
	vertical-align: middle;
}

.searchbar {
	height: 30px;
	background-color: #ddd;
	border-bottom: 2px solid #aaa;
	line-height: 30px;
	vertical-align: middle;
}

.searchbar button {
	line-height: 20px;
}

#side {
	float: right;
}

#outercontent {
	width: 100%;
	border-collapse: collapse;
}

th {
	font-weigth: bold;
	text-align: center;
	background-color: #eee;
}

th .type {
	width: 100px;
}

.report td {
	border-bottom: 1px solid #999;
	transition: background-color 1s, color 1s;
	-moz-transition: background-color 1s, color 1s;
	-webkit-transition: background-color 1s, color 1s;
	-o-transition: background-color 1s, color 1s;
	line-height: 20px;
	text-shadow: 0px 0px 5px black;
	padding-left: 10px;
}

.second td {
	background-color: #777;
}

.report:hover td {
	background-color: #555;
	line-height: 20px;
	color: white
}

.report .type {
	border-bottom: 0px none;
	color: black !important;
}

.issue .type {
	background-color: #ffff55 !important;
}

.demote .type {
	background-color: #ff5555 !important;
}

.promote .type {
	background-color: #55ff55 !important;
}

.ban .type {
	background-color: #aa0000 !important;
}

.unban .type {
	background-color: #00aa00 !important;
}

.closed {
	text-decoration: line-through;
}

.closed .type {
	background-color: #aaaaaa !important;
}